@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes float-1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(5px, -5px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float-2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-5px, 0px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float-3 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-5px, -5px) scale(0.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes float-4 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(5px, 0px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-float-1 {
  animation: float-1 4s ease-in-out infinite;
}

.animate-float-2 {
  animation: float-2 4s ease-in-out infinite;
}

.animate-float-3 {
  animation: float-3 4s ease-in-out infinite;
}

.animate-float-4 {
  animation: float-4 4s ease-in-out infinite;
}

.animate-float-5{
  animation: float-2 4s ease-in-out infinite;
}

.animate-float-6{
  animation: float-4 4s ease-in-out infinite;
}

